/* body{
  background-image: url('https://fairgaze.com/images/UploadedImages/thumbs/0309134_0309134_xasdiihbb.jpg');
  background-repeat:repeat-y;
  background-size:100vw;
  overflow-y:auto;
} */

.author{
font-size: 0.5rem;
}
